<head>
    <meta charset="UTF-8" />
    <link id="main-stylesheet" rel="stylesheet" href='{{partial "home-path" .}}/style.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ default .Description .Site.Params.Description }}" />
    {{ if .IsHome }}
        <title>{{ .Site.Title }}</title>
    {{ else }}
        <title>{{ printf "%s - %s" (partial "page-title" .) .Site.Title }}</title>
    {{ end }}
</head>


{{ define "_partials/home-path.html" }}
    {{ return path.Dir .Site.Home.RelPermalink }}
{{ end }}