{{ $page_path := .Path}}
{{ $ancestors := .Ancestors }}

<nav id="sidebar">
    <a href='{{partial "home-path" .}}'>Bessy Docs</a>
    <ul>
        {{ range .Site.Sections }}
            {{ template "hierarchy-links" (dict "section" . "page" $) }}
        {{ end }}
    </ul>
</nav>


{{ define "hierarchy-links" }}
    {{ $isAncestor := or (.section.IsAncestor .page) (eq .section .page) }}
    {{ $class := cond $isAncestor "folder open" "folder" }}

    {{ $sectionHasChildren := or .section.RegularPages .section.Sections }}
    {{ $class := cond $sectionHasChildren $class "" }}

    <li class="{{ $class }}">
        <a href="{{.section.RelPermalink}}">
            {{ partial "page-title" .section }}
        </a>
        {{ if $isAncestor }}
            {{ $page := .page }}
            {{ with .section }}
                <ul>
                    {{ range .Sections }}
                        {{ template "hierarchy-links" (dict "section" . "page" $page) }}
                    {{ end }}
                    {{ if or (.IsAncestor $page) (eq . $page) }}
                        {{ partial "section-page-links" . }}
                    {{ end }}
                </ul>
            {{ end }}
        {{ end }}
    </li>
{{ end }}