{{ if or (.section.IsAncestor .page) (eq .section .page) }}
    {{ $page := .page }}
    {{ with .section }}
        <ul>
            {{ range .Sections }}
            <li>
                <a href="{{.RelPermalink}}">
                    {{ partial "page-title" . }}
                </a>
                {{ partial "section-hierarchy-links" (dict "section" . "page" $page) }}
            </li>
            {{ end }}
            {{ if or (.IsAncestor $page) (eq . $page) }}
                
            {{ partial "section-page-links" . }}
            {{ end }}
        </ul>
    {{ end }}
{{ end }}