<ul>
    {{ range .Sections }}
    <li>
        <a href="{{.RelPermalink}}">
            {{ partial "page-title" . }}
        </a>
        {{ partial "section-links" . }}
    </li>
    {{ end }}
    {{ partial "section-page-links" . }}
</ul>


{{ define "_partials/section-page-links.html" }}
    {{ range where .RegularPages ".Path" "ne" "/404" }}
        <li>
            <a href="{{.RelPermalink}}">
                {{ partial "page-title" . }}
            </a>
        </li>
    {{ end }}
{{ end }}